/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 @media  print {
    .hide-print {
        display: none;
    }
}
.cetak{
    font-family:'Open Sans',-apple-system,BlinkMacSystemFont,'Segoe UI',sans-serif;
    padding:0;
    margin:0;
    font-size:11pt;
}
.m-t-20{
    margin-top:20px;
}
.bawah{
    border-bottom:1px solid #000;        
}
.kiri{
    border-left:1px solid #000;        
}
.kanan{        
    border-right:1px solid #000;
}
.atas{        
    border-top:1px solid #000;
}
.text_tengah{
    text-align: center;
}
.text_kiri{
    text-align: left;
}
.text_kanan{
    text-align: right;
}
.text_blok{
    font-weight: bold;
}        
.text_12{
    font-size: 12px !important;
}
.text_15{
    font-size: 15px !important;
}
.text_20{
    font-size: 20px !important;
}
.logoprinter{
    position:absolute;
    top:150px;
    right:600px;
}
thead{
    display:table-header-group;
}
.setbreakafter{
    page-break-after: always;
}
.setbreakbefore{
    page-break-before: always;
}
td, th{
    page-break-inside: avoid;
    vertical-align: top;
}
thead td{
	vertical-align: middle;
}
@media  print {
    body {
        padding:0px;
    }
}
#action-sipd {
 	padding: 20px 0;
 	text-align: center;
}
table { page-break-inside:auto }
div   { page-break-inside:avoid; }
tr    { page-break-inside:avoid; page-break-after:auto }
thead { display:table-header-group }
tfoot { display:table-footer-group }
.no-border {
    border: 0;
}
.no-padding td, .no-padding th {
    border: 0;
    padding: 0;
}
.apbd-penjabaran td, .apbd-penjabaran th {
    padding: 2px 5px;
    font-size: 13px;
}
#wrap-loading {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 9999999;
    background: #00000073;
    top: 0;
}
.lds-hourglass {
    position: fixed;
    width: 64px;
    height: 64px;
    top: 50vh;
    left: 50%;
    z-index: 99999;
    margin-left: -32px;
}
.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 6px;
    box-sizing: border-box;
    border: 26px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-hourglass 1.2s infinite;
}
@keyframes    lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
.edit-mapping, .edit-monev, .edit-monev-file {
    border: 2px solid;
    padding: 2px;
    border-radius: 50%;
    color: #2196F3;
    margin-left: 10px;
    cursor: pointer;
}
.edit-monev {
    padding: 1px 1px 7px;
}
.edit-mapping:hover, .edit-monev:hover {
    background: #00BCD4;
    color: #fff;
}
.list-mapping {
    margin-left: 5px;
    display: inline;
}
.list-mapping li{
    display: inline-block;
    margin-left: 5px;
}
.list-mapping .mapping {
    padding: 5px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    position: relative !important;
}
td[contenteditable="true"] {
    background: #ff00002e;
}