.text_tengah {
    text-align: center !important;
}
.text_kiri {
    text-align: left !important;
}
.text_kanan {
    text-align: right !important;
}
.text_blok {
    font-weight: bold !important;
}
#wrap-loading {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 9999999;
    background: #00000073;
    top: 0;
}
.lds-hourglass {
    position: fixed;
    width: 64px;
    height: 64px;
    top: 50vh;
    left: 50%;
    z-index: 99999;
    margin-left: -32px;
}
.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 6px;
    box-sizing: border-box;
    border: 26px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-hourglass 1.2s infinite;
}
@keyframes    lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

.edit-label {
    border: 2px solid;
    padding: 4px 2px;
    border-radius: 50%;
    color: #2196F3;
    cursor: pointer;
}
.edit-label:hover {
    background: #00BCD4;
    color: #fff;
}

.hapus-label {
    border: 2px solid;
    padding: 4px 2px;
    border-radius: 50%;
    color: #f32121;
    cursor: pointer;
}
.hapus-label:hover {
    background: #f32121;
    color: #fff;
}